@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@font-face {
	font-family: 'FavoritSSENSE-Inter';
	src: url("/fonts/FavoritSSENSE-Inter.ttf") format("truetype");
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    ---background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
	font-family: 'FavoritSSENSE-Inter', sans-serif;
}
